.container {
    margin: 40px;
}

.article {
    width: 1440px;
    padding: 50px 150px;
}

.article-wrapper {
    display: flex;
    padding: 60px 220px;
    height: 400px;
    box-shadow: 5px 15px 20px hsl(216, 20%, 90%);
}

.article__image {
    width: var(--image-width-block);
}

.article__picture {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.article__content {
    width: calc(100% - var(--image-width-block));
    background-color: var(--white-color);
    padding: var(--content-padding);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.content__heading {
    font-weight: 700;
    line-height: 30px;
    color: var(--dark-garyish-blue-color);
}

.content__description {
    color: var(--desaturated-dark-blue-color);
    margin: 18px 0;
    display: block;
}

.content__other {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other__info {
    display: flex;
    align-items: center;
}

.info__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info__name {
    color: var(--dark-garyish-blue-color);
}

.info__date {
    color: var(--desaturated-dark-blue-color);
}

.other__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon__share-direct {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(46, 96, 161, 0.15);
}

.icon__share-direct--active {
    background-color: var(--grayish-blue-color);
}

.icon__share--active {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}


.icon__share-direct:hover {
    background-color: var(--grayish-blue-color);
}

.icon__share-direct:hover .icon__share {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
            
.icon__share {
    color: var(--white-color);
}

.icon__share-link {
    display: none;
}

.icon__share-link--active {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -75px;
    height: 50px;
    width: 240px;
    padding-left: 36px;
    background-color: var(--dark-garyish-blue-color);
    border-radius: 10px;
    box-shadow: 0px 2px 10px var(--desaturated-dark-blue-color);
}

.icon__share-link::after {
    content: '';
    display: block;
    border-width: 10px 12px;
    border-color: var(--dark-garyish-blue-color) transparent transparent transparent;
    border-style: solid; 
    position: relative;
    bottom: -35px;
    left: -108px;
}

.share-link__text {
    color: var(--grayish-blue-color);
}
